  
  @use '../../../../../../assets/styles/theme.scss';
  
  .nav-section{
   // max-height: 250px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;

   



    .nav-list {
        flex: 1;
        padding: 0px 0px;
        max-height: auto;
        margin-bottom: 90%;
        .mdc-list-item{
            padding: 32px 24px;
            
            
        } 
        
    }
  }
