section{
    margin-top: 1rem;   //lo que ocupa el logo
    overflow: auto;
    height: 100vh;

    mat-nav-list {
        display: flex;
        flex-direction: column;
    
        a {
            margin: 0.25rem 0;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0;
                border: 1px rgb(54, 54, 54, 0.3) solid;
                border-radius: 10px;

                mat-icon {
                    padding: 0 0.5rem;
                }
            }
        }
    }
}