.header {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espacio entre el icono y el contenido */
    padding: 0.5rem; /* Ajusta el espaciado según tus preferencias */
    font-size: 16px;
  }

  .item {
    margin-bottom: 0.5rem; /* Ajustar según tus preferencias */
  }
  
  .icon-container {
    display: inline-flex; /* Cambiar a inline-flex */
    align-items: center;
    justify-content: center;
    width: 50px; /* Ajusta el tamaño del círculo del icono */
    height: 50px;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.575); /* Color del fondo del círculo del icono */
  }
  
  .icon {
    font-size: 24px; /* Tamaño del icono */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
 
  
  /* Ajusta el tamaño del ícono en el encabezado */
  mat-expansion-panel-header  {
    
    padding: 16px 24px;
  }
  

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    
    color: rgb(54, 54, 54);
    margin-bottom: 0.6rem; /* Ajustar según tus preferencias */
    display: flex;
    align-items: center;
  }
  
