ul{
    list-style:none;
    padding: 40px;

    .list-item{
        margin: 1rem;
        
        transition: box-shadow 0.3s ease, transform 0.2s ease; 
        cursor: pointer;
        margin-bottom: 0.5rem;
    
        
        .list-item:hover{
            box-shadow: 0 2px 4px rgba(63, 81, 181, 0.692); 
            transform: scale(1.02); 
        }
    }
}
