
<ng-container *ngIf="loading; else content">
    <div class="loading-progress">
        <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
      
    </div>
</ng-container>

<ng-template #content>
     <!-- <app-item-details-card [item] ="project" [projectSpecifications]="projectSpecifications"></app-item-details-card>  -->
    <app-project-details [project]="project" ></app-project-details>
    <app-add-item [formDialog]=formComponent></app-add-item>
    <app-card-list [list]= "epics"></app-card-list>
</ng-template>



