<mat-expansion-panel class="custom-extension-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <div class="header">
        <div class="icon-container" *ngIf="project.icon">
          <img src= "../../../../../../../assets/emojis/icons8-{{project.icon}}-48.png" alt="Icon"  width="28" height="28">
        </div>
        <div class="content">
          <mat-panel-title>{{ project.name }}</mat-panel-title>
          <mat-panel-description *ngIf="project.description">
            {{ project.description }}
          </mat-panel-description>
        </div>
      </div>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    
    <ul>
        <li *ngIf="members.length > 0">
             Members:&nbsp;&nbsp; 
             <div *ngFor="let member of members; let last = last">
                <mat-chip> <mat-icon matChipAvatar>account_circle</mat-icon> {{member}}</mat-chip>{{ !last ? ', ' : '' }}
             </div>    
        </li>
        <li *ngIf="project.owner">
            Owner:&nbsp;<mat-chip> <mat-icon matChipAvatar>account_circle</mat-icon>{{ownerName}}</mat-chip>
        </li>
    </ul>


    
  </mat-expansion-panel>
  