<div class="login-page">
    <mat-card class="mat-elevation-z12">
       
        <div class="header">
            <h1 class="welcome-message">Welcome back!</h1>
            <p class="subtext">You can sign in to acces with your existing acount</p>
        </div>
      
            <mat-card-content>


                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >

                    <mat-form-field class="username-input" >
                        <mat-label>Username</mat-label>
                        <input matInput  formControlName="username" required>
                        <mat-error *ngIf="myForm.get('username')?.hasError('required') && (myForm.get('username')?.touched || myForm.get('username')?.dirty)">This value is required</mat-error>
                            <mat-error *ngIf="myForm.get('username')?.hasError('minlength')">Minimum length is 4 characters</mat-error>
                        
                            <mat-icon matSuffix>{{ myForm.get('username')?.hasError('required') || myForm.get('username')?.hasError('minlength') ? 'sentiment_very_dissatisfied' : 'mood' }}</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="password-input">
                        <mat-label>Enter your password</mat-label>
                        <input matInput   formControlName="password" [type]="hide ? 'password' : 'text'" >
                    
                        <mat-error *ngIf="myForm.get('password')?.hasError('required') && (myForm.get('password')?.touched || myForm.get('password')?.dirty)">This value is required</mat-error>
                        <mat-error *ngIf="myForm.get('password')?.hasError('minlength')">Minimum length is 4 characters</mat-error>
              
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>  </button>
                    </mat-form-field>

                    
            
    
                <button type="submit" mat-raised-button  color="primary"   class="login-button">Login</button>
                <div *ngIf="isLoading" class="loading-spinner">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
                <mat-error *ngIf="errorMessage  || (myForm.errors && myForm.hasError('invalidCredentials'))" class="error-message">
                    {{ errorMessage }}
                </mat-error>
                </form>
            </mat-card-content>
       
     
    </mat-card>
  </div>