/* styles.css (o el archivo donde tengas tus estilos) */

.login-page {
    background-color: #303F9F;

    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  mat-card {
    width: 400px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field, mat-checkbox {
    width: 100%;
    margin: 10px 0;
  }
  
  mat-card-content {
    padding: 20px;
  }
  
  .login-button {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  
  .error-message {
    color: red;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    display: block; /* Mostrar solo cuando se necesita */
  }
  
   mat-error {
    margin-top: 4px;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    color: red;
    display: block; /* Mostrar solo cuando se necesita */
  }
  
  .username-input, .password-input {
    position: relative;
  }
  
 mat-icon {
    
    color: #d1c4c4;
 
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  