<ng-container *ngIf="loading; else content">
    <div class="loading-progress">
        <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
    </div>
</ng-container>

<ng-template #content class="settings-container">
    <div *ngIf="user">
        <h2>Name</h2>
        <p> {{ user.name.first }} {{ user.name.last }}</p>
        <h2>Username</h2>
        <p>{{ user.username }}</p>
        <h2>Email</h2>
        <p>{{ user.email }}</p>
        <button mat-raised-button color="primary" (click)="logOut()">Log out</button>
    </div>
    <mat-slide-toggle color="primary">Dark mode</mat-slide-toggle>
</ng-template>
