
<button  type="button" mat-fab extended color="accent" class="button-icon-select" [matMenuTriggerFor]="iconMenu">
    <mat-icon>{{currentIcon}}</mat-icon>
    Select Icon
</button>


    <!-- <button type="button" 
    mat-menu-item
    *ngFor="let icon of availableIcons"
    (click)="selectIcon(icon)"
    class="icon"
    >
    <mat-icon>{{ icon }}</mat-icon>

  </button> -->


 <mat-menu #iconMenu="matMenu"  class="icon-menu">
 <mat-grid-list cols="3" rowHeight="5:5">
    <mat-grid-tile *ngFor="let icon of availableIcons" >
      <button mat-button type="button" (click)="selectIcon(icon)"
        class="icon"
        >
        <mat-icon>{{icon}}</mat-icon>
       
      </button>
    </mat-grid-tile>
  </mat-grid-list>

</mat-menu>