<div mat-dialog-title>
    <h1>{{ isEditing ? 'EDIT PROJECT' : 'NEW PROJECT' }}</h1>
</div>

<form [formGroup]=myForm (ngSubmit)="onSubmit()">

    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Icon</mat-label>
            <input matInput formControlName="icon" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Members</mat-label>
            <mat-select formControlName="members">
                <mat-option *ngFor="let member of members" [value]="member._id">
                    {{member.username}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button *ngIf="!isEditing" type="submit" [disabled]="!myForm.valid" mat-raised-button color="primary" [mat-dialog-close]="true">Create Project</button>
        <button *ngIf="isEditing" type="submit" [disabled]="!myForm.valid" mat-raised-button color="primary" [mat-dialog-close]="true">Save Changes</button>
    </div>

</form>