.grid-container {
 margin-top: 1.5rem;
}

.dashboard-card {
  position: absolute;
  top: 4px;
  left: 10px;
  right: 10px;
  bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para el efecto hover */
  border-radius: 4px;
}



.dashboard-card:hover {
  transform: translateY(-5px); /* Mueve la tarjeta hacia arriba en el hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cambia la sombra en el hover */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre la tarjeta */
}


.dashboard-card-content {
  text-align: center;
}
