<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile *ngFor="let i of [ 1, 2, 3]" [colspan]="(cardLayout | async)?.miniCard?.cols"
      [rowspan]="(cardLayout | async)?.miniCard?.rows">
      
    
          <app-doughnut-stories></app-doughnut-stories>
 
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(cardLayout | async)?.calendar?.cols" [rowspan]="(cardLayout | async)?.calendar?.rows">
        <app-calendar class="dashboard-card" ></app-calendar>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(cardLayout | async)?.chart?.cols" [rowspan]="(cardLayout | async)?.chart?.rows">
      <app-card>

    
      </app-card>

  </mat-grid-tile>
 

  </mat-grid-list>


</div>