<mat-card class="card" >
    <mat-card-title class="title">{{ title }}</mat-card-title>

    <div class="number">{{ completed }}</div>

    <div class="completed" *ngIf="targetCompleted > 0">
        <div class="emoji" *ngIf="icon">
            <img class="emoji" src="../../../../../../../assets/dashboard-cards/icons8-{{icon}}-94.png" alt="icon" />
        </div>
        <div class="message">
            <mat-card-subtitle>{{ message1 }}</mat-card-subtitle>
            <mat-card-subtitle>{{ message2 }}</mat-card-subtitle>
        </div>
    </div>
</mat-card>

<!-- <mat-card-subtitle>You're on fire!</mat-card-subtitle>
<mat-card-subtitle>Keep up the good work!</mat-card-subtitle> -->