.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 8px;

  .title {
    font-size: 1.5rem;
  }

  .message {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    margin: 10px 0;
    font-size: 1rem;
  }

  .number {
    font-size: 7rem;
    margin: 8px 0px;
    padding: 10px ;
  }
}

.completed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.emoji {
  width: 48px;
  height: 48px;
}
