<ng-container *ngIf="loading; else content">
  <div class="loading-progress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>

<ng-template #content>

  <app-story-details [item]="story"></app-story-details>
  <app-add-item [formDialog]=formComponent></app-add-item>
  <app-no-items-card *ngIf="tasks!=undefined && tasks.length === 0"></app-no-items-card>

  <section>
    <ul>
      <li *ngFor="let task of tasks" class="list-item">
        <app-task-card [task]=task [parentItemId]=parentItemId></app-task-card>
      </li>
    </ul>
  </section>

</ng-template>