.mat-sidenav-container {
  display: flex;
  height: 100vh; /* Asegura que la sidenav ocupe toda la altura visible */
  font-size: 16px;
}

.side-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;

  .nav-footer {
    margin-top: auto;
  }
}
