/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  padding-top: 4rem; //lo que ocupa el header, componente login (sin header) lo redefine y lo pisa
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
