//colors

$Purple: #673ab7;
$Accent: rgb(33, 150, 243) ;
$indigo: rgb(63, 81, 181);
$DeepPurple: #673ab7 ;
$LightGreen: rgb(139, 195, 74);
$Indigo: rgb(63, 81, 181);
$Teal: #11cab8;
$amber: rgb(255, 193, 7);
$DeepOrange: rgb(255, 87, 34) ;
$Cyan: #00bcd4;
$lavanda: rgb(230, 230, 250);
$lilaVibrante: #b86dff;
$lilaPalido: rgb(220, 190, 230);
$lilaGrisaceo: rgb(200, 180, 190);