@use './colors.scss' as c;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FB-primary: mat-palette($mat-indigo);
$FB-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$FB-warn: mat-palette($mat-red);


//paleta para los colores
$FB-dark-primary: mat-palette($mat-purple);
$FB-dark-accent:mat-palette($mat-green, A200, A100, A400);
$FB-dark-warn: mat-palette($mat-deep-orange);



$FrontendBootcamp-dark-primary: mat-palette($mat-purple);
$FrontendBootcamp-dark-accent:mat-palette($mat-green, A200, A100, A400);
$FrontendBootcamp-dark-warn: mat-palette($mat-deep-orange);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FB-theme: mat-light-theme((
  color: (
    primary: $FB-primary,
    accent: $FB-accent,
    warn: $FB-warn,
  )
));

$FB-dark-theme: mat-dark-theme((
  color: (
    primary: $FB-dark-primary,
    accent: $FB-dark-accent,
    warn: $FB-dark-warn
  )
));




  @include angular-material-theme($FB-theme);
 


.dark-theme{
  .xng-breadcrumb-trail {
    background-color: rgb(0, 188, 212);
  }

  .list-item-card &:hover {
    box-shadow: 0 2px 4px rgb(103, 58, 183);
  }
  color: white;

  @include angular-material-theme($FB-dark-theme);
 
}