

.list-item{
    margin: 1rem;
    
    transition: box-shadow 0.3s ease, transform 0.1s ease; 
    
    margin-bottom: 0.5rem;

    &:hover{
        box-shadow: 0 2px 4px rgba(63, 81, 181, 0.808); 
        transform: scale(1.02);  
    }
}


.item-header{
    margin-bottom: 0.5rem;

}