<a routerLink={{currentLink}}>
  <mat-card class="example-card">

    <mat-card-header class="item-header">
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <p>{{item.description}}</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button><mat-icon>edit</mat-icon></button>
      <button mat-button><mat-icon>delete</mat-icon></button>
    </mat-card-actions>

  </mat-card>
</a>