.wrapper {
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.openMenu{
  visibility: hidden;
}

.closeMenu{
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}