/* Clases para los diferentes estados */
.running-chip {
    background-color: rgb(255, 251, 39); /* Color para estado "pendiente" */
    color: white; /* Texto en color blanco */
  }
  
.todo-chip {
    background-color: rgb(255, 46, 46); /* Color para estado "en progreso" */
    color: black; /* Texto en color negro */
}
  
.done-chip {
    background-color: green; /* Color para estado "completado" */
    color: white; /* Texto en color blanco */
}