<div mat-dialog-title>
    <h1> NEW TASK </h1>
</div>

<form [formGroup]=myForm (ngSubmit)="onSubmit()">

    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Created</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="created">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Due date</mat-label>
            <input matInput  [matDatepicker]="picker2" formControlName="dueDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-checkbox formControlName="done">Done</mat-checkbox>

    </div>

    <div mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button type="submit" [disabled]="!myForm.valid" mat-raised-button color="primary"
            [mat-dialog-close]="true">Create Story</button>
    </div>

</form>
