.custom-checkbox {
    .checkbox{
        margin:8px;
        transform: scale(1.3); 
    }
   
}


.inline-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    .mat-form-field-data {  
      max-width: 50%;
    }
}
 


// Mobile query 
@media (max-width: 767px) {
    .custom-checkbox {
      .checkbox {
        margin: 4px;
        transform: scale(1.1); 
      }
    }
  
    .inline-fields {
      flex-direction: column; 
      align-items: stretch; 

      .mat-form-field-data {  
        max-width: 100%;
      }
    }


}